{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3>Editing {{category.name}}</h3>
			</div>
			<div class="panel-body">
                <form action="{{ url_for('editCategory',category_id = category.id)}}" method="post">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" required="required" class="form-control" name="name" value="{{category.name }}">
					</div>
					<button type="submit" class="btn btn-success" id="submit" type="submit">Update</button>
					<a href="{{url_for('showCategory', category_id = category.id)}}" role="button" class="btn btn-danger">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
